[access "refs/*"]
	owner = group Administrators
	label-Verified = -1..+1 group Tuna Maintainers
	label-Code-Review = -2..+2 group Tuna Maintainers
	submit = group Tuna Maintainers
	forgeCommitter = group Tuna Maintainers
	push = +force group Tuna Maintainers
	create = group Tuna Maintainers
[project]
	state = active
